@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-JosefinSans: Josefin Sans, sans-serif;
  --font-Roboto: Roboto, sans-serif;
  
  --color-brown: #53423e;
  --color-lightBrown: #645550;
  --color-darkBrown: #2c2523;
  --color-black: #1e1917;
  --color-white: #f1e1d9;
  --color-cyan: #15d1e9;
  --color-lightCyan: #88e5f0;
  --color-darkCyan: #009fb3;
  --color-orange: #fb9718;
  --color-lightOrange: #fac27b;
  --color-darkOrange: #d28422;
  --color-grey: #626965;
  --color-lightGrey: #978580;
  --color-darkGrey: #3f4441;

  --shadow-3xl: 10px 10px 200px rgba(0, 169, 079, 5);
  --shadow-cyanShadow: 0px 4px 20px rgba(94, 206, 220, 0.5);
  --shadow-cyanMediumShadow: 10px 10px 200px 150px rgba(94,206,220,0.5);
  --shadow-orangeMediumShadow: 10px 10px 200px 150px rgba(240,169,79,0.5);

  --breakpoint-xs: 420px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

}

.hexagon-image {
  background-image: url('../../../public/images/sa-image.png');
  clip-path: polygon(
    25% 0%, 75% 0%,
    100% 50%,
    75% 100%, 25% 100%,
    0% 50%
  );
}

body {
  @apply bg-darkBrown;
}